<?xml version="1.0" encoding="utf-8"?>  
<RunSettings>  
  <!-- Parameters used by tests at runtime -->  
  <TestRunParameters>  
    <Parameter name="MSBuildExe" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe" />  
    <Parameter name="SSDTTestPrjectRootDir" value="..\..\..\CustomSSDTMigrationScripts.Integration.Tests" />  
  </TestRunParameters> 
</RunSettings>  